<div data-role="header">
    <h1 >热门应用</h1>
    <a href="#" onclick=history.back() data-icon="back" class="ui-btn-right">返回首页</a>
</div>
	
<div data-role="content">		
<ul data-role="listview" data-split-icon="arrow-d" data-split-theme="a" data-theme="a" data-inset="false">
    <li  id="test1"><a href="#">
        <img src="../../../../uploads/poster/app/yixin.png">
        <h2>易信</h2>
        <p>让聊天更有趣</p></a>
        <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">Purchase album</a>
    </li>
    <li  id="test2"><a href="#">
        <img src="../../../../uploads/poster/app/wallet.png">
        <h2>易支付</h2>
        <p>为手机提供综合支付业务</p></a>
        <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">Purchase album</a>
    </li>
    <li  id="test3"><a href="#">
        <img src="../../../../uploads/poster/app/music.png">
        <h2>爱音乐</h2>
        <p>在线试听，音乐下载</p></a>
        <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">Purchase album</a>
    </li>
    <li><a href="#">
        <img src="../../../../uploads/poster/app/yingye.png">
        <h2>掌上营业厅 </h2>
        <p>自助服务软件</p></a>
        <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">Purchase album</a>
    </li>
        <li><a href="#">
        <img src="../../../../uploads/poster/app/qiye.png">
        <h2>智慧企业客户端 </h2>
        <p>提供多功能企业信息化协作平台</p></a>
        <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">Purchase album</a>
    </li>
     </li>
        <li><a href="#">
        <img src="../../../../uploads/poster/app/reading.png">
        <h2>天翼阅读</h2>
        <p>移动阅读用户的第一选择</p></a>
        <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">Purchase album</a>
    </li>
</ul>
<div data-role="popup" id="purchase" data-theme="a" data-overlay-theme="a" class="ui-content" style="max-width:340px; padding-bottom:2em;">
    <h3>确认下载</h3>
    <p>请您在这里进行确认，我们为您提供免流量下载</p>
    <a href="index.html" data-role="button" data-rel="back"  data-icon="check" data-theme="a"  data-inline="true" data-mini="true">确认下载  ？ </a>
    <a href="index.html" data-role="button" data-rel="back"  data-icon="delete" data-inline="true" data-mini="true">取消</a>
</div>	
					
</div>



