<!DOCTYPE html>
<html lang="zh" >
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>index</title>
		<meta name="description" content="" />
		<meta name="author" content="plter" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->

		<link rel="stylesheet" href="jqm/css/jquery.mobile-1.3.2.min.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
		<script src="jqm/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="jqm//js/jquery.mobile.min.js" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" href="jqm/css/yahei.css">
	<link rel="stylesheet" href="jqm/css/bartender.css" />
	</head>
	
	<body>


<div data-role="header" data-theme="b">
    <h1 >热门菜单</h1>
    <a href="#" onclick="location='/11:22:33:44:55:66/portal'" data-icon="back" class="ui-btn-right">返回主页</a>
</div>
	
<div data-role="content">		
<ul data-role="listview" data-split-icon="arrow-d" data-inset="false">
    <li  id="test1"><a href="#">
        <img src="jqm/images/slides/thumbs/1.jpg">
        <h2>特色烤肉</h2>
        <p>￥ 33</p></a>
        <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">Purchase album</a>
    </li>
    <li  id="test2"><a href="#">
        <img src="jqm/images/slides/thumbs/2.jpg">
        <h2>主厨面包</h2>
        <p>￥ 13</p></a>
        <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">Purchase album</a>
    </li>
    <li  id="test3"><a href="#">
        <img src="jqm/images/slides/thumbs/3.jpg">
        <h2>番石榴汁 </h2>
        <p>￥ 13</p></a>
        <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">Purchase album</a>
    </li>
    <li><a href="#">
        <img src="jqm/images/slides/thumbs/4.jpg">
        <h2>柠檬汁 </h2>
        <p>￥ 19</p></a>
        <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">Purchase album</a>
    </li>
        <li><a href="#">
        <img src="jqm/images/slides/thumbs/5.jpg">
        <h2>纽约牛排</h2>
        <p>￥ 59</p></a>
        <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">Purchase album</a>
    </li>
     </li>
        <li><a href="#">
        <img src="jqm/images/slides/thumbs/6.jpg">
        <h2>卡布奇诺</h2>
        <p>￥ 16</p></a>
        <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">Purchase album</a>
    </li>
</ul>
<div data-role="popup" id="purchase" data-theme="b" data-overlay-theme="b" class="ui-content" style="max-width:340px; padding-bottom:2em;">
    <h3>确认下单</h3>
    <p>请您在这里进行确认，我们稍后为您提供该菜品</p>
    <a href="index.html" data-role="button" data-rel="back"  data-icon="check" data-theme="a"  data-inline="true" data-mini="true">确认购买  ？ </a>
    <a href="index.html" data-role="button" data-rel="back"  data-icon="delete" data-inline="true" data-mini="true">取消</a>
</div>	
					
</div>

    		  	<div data-role="footer" data-id="mainFooter" data-position="fixed">
		<div data-role="navbar" data-grid="d">
			<ul class="apple-navbar-ui comboSprite">
				<li><a href="#features" data-iconpos="top" data-icon="features">特色菜</a></li>
				<li><a href="#brands" data-iconpos="top" data-icon="brands">优惠券</a></li>
				<li><a href="#fees" data-iconpos="top" data-icon="fees">游戏</a></li>
				<li><a href="#contact" data-iconpos="top" data-icon="contact">联系人</a></li>
				<li><a href="#about" data-iconpos="top" data-icon="about">关于我们</a></li>
			</ul>
		</div>
	</div>

	</body>
</html>
