<!DOCTYPE html>
<html lang="zh" >
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>index</title>
		<meta name="description" content="" />
		<meta name="author" content="plter" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->

		
		<link rel="stylesheet" href="jqm/css/jquery.mobile-1.3.2.min.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
		<script src="jqm/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="jqm/js/jquery.mobile.min.js" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" href="jqm/css/yahei.css">
	<link rel="stylesheet" href="jqm/css/bartender.css" />

	<link rel="stylesheet" href="jqm/css/my.css" />
	</head>
	
	<body>


<div data-role="header" data-theme="b" >
    <h1>优惠券</h1>
    <a href="#" onclick="location='/11:22:33:44:55:66/portal'" data-icon="back" class="ui-btn-right">返回主页</a>
</div>

		    <div data-role="content" data-theme="b" >
        <div class="article" >
            <p><img src="jqm/images/bike.jpg" alt="Fixed Gear bike"></p>
            <h2>￥75 价值100元西贝西北菜代金券1张</h2>
            <p>有效期：2013-08-02 至 2013-11-01（中秋节9月19日-21日；国庆节10月1日-7日除外）</p>
            <p>本代金券可累计使用，不兑现、不找零, 不可与其他优惠同享</p>
 
        </div><!-- /article -->
    </div><!-- /content -->

    		  	<div data-role="footer" data-id="mainFooter" data-position="fixed">
		<div data-role="navbar" data-grid="d">
			<ul class="apple-navbar-ui comboSprite">
				<li><a href="#features" data-iconpos="top" data-icon="features">特色菜</a></li>
				<li><a href="#brands" data-iconpos="top" data-icon="brands">优惠券</a></li>
				<li><a href="#fees" data-iconpos="top" data-icon="fees">游戏</a></li>
				<li><a href="#contact" data-iconpos="top" data-icon="contact">联系人</a></li>
				<li><a href="#about" data-iconpos="top" data-icon="about">关于我们</a></li>
			</ul>
		</div>
	</div>

	</body>
</html>
