<div data-role="header">
  <h1>优惠券</h1>
  <a href="#" data-icon="back" class="ui-btn-right">返回主页</a>
</div>

<div data-role="content" data-theme="a" >
  <div class="article" >
    <p><img src="uploads/poster/bike.jpg" alt="Fixed Gear bike"></p>
    <h2>￥75 价值100元西贝西北菜代金券1张</h2>
    <p>有效期：2013-08-02 至 2013-11-01（中秋节9月19日-21日；国庆节10月1日-7日除外）</p>
    <p>本代金券可累计使用，不兑现、不找零</p>
    <p>不可与其他优惠同享</p>
    <p><small>Source: 黄壮壮</small></p>
  </div>
</div>
