<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "transtyle" %>
  <%= stylesheet_link_tag "trantab" %>
<% end  %>  
<div class="container1">
	<div id="row1">
		<div id="left">
		<table cellspacing="0" id="playlistTable" summary="">
			<caption>今日连入mac地址共 10 个</caption>

			<colgroup>
			<col id="PlaylistCol" />
			<col id="trackCol" />
			<col id="artistCol" />

			</colgroup>

			<thead>
			<tr>
			<th id="playlistPosHead" scope="col">Playlist Position</th>
			<th scope="col">MAC地址</th>
			<!-- <th scope="col">接入时长</th> -->

			</tr>
			</thead>

			<tbody>
			<tr class="odd">
			<td>1</td>
			<td>00:01:6C:06:A6:29 </td>
			

			</tr>

			<tr>
			<td>2</td>
			<td>00:05:5D:E8:0F:A3</td>
			

			</tr>

			<tr class="odd">
			<td>3</td>
			<td>64:B9:E8:F2:GE:12</td>
			

			</tr>

			<tr>
			<td>4</td>
			<td>12:EF:3U:AS:1N:SA</td>
			

			</tr>

			<tr class="odd">
			<td>5</td>
			<td>C3:3G:FO:WI:29:X8</td>
			

			</tr>

			<tr>
			<td>6</td>
			<td>C7:EH:7S:OG:2N:8F</td>
			

			</tr>

			<tr class="odd">
			<td>7</td>
			<td>S5:MB:9B:4F:3L:90</td>
			

			</tr>

			<tr>
			<td>8</td>
			<td>21:3D:F4:A3:23:FR</td>
			

			</tr>

			<tr class="odd">
			<td>9</td>
			<td>AE:3F:Q3:5J:AE:6K</td>
			

			</tr>

			<tr>
			<td>10</td>
			<td>9B:6K:PJ:5M:0B:KK</td>
			

			</tr>
			</tbody>
		</table>
	</div>

	<div id="tri"></div>

	<div id="mid">
		<div id="top">
			
				<p>其中访问APP商店数量
					<span>8</span>
				</p>
			
			<div class="cent"> 
				<p> 
					<div class="Bars"> 
    					<div style="width: 80%;"> 
        					<span>80%</span> 
    					</div> 
					</div> 
				</p> 
			</div> 
		</div>

		<div id="bot">
			<p><span>4人 （转化率50%）</span>继续进行了App下载</p>
		</div>
	</div>
	<div id="tri">
		
	</div>
	<div id="right">
		<table cellspacing="0" id="playlistTable" summary="">
			<caption>访问商店mac地址共 8 个</caption>

			<colgroup>
			<col id="PlaylistCol" />
			<col id="trackCol" />
			<col id="artistCol" />

			</colgroup>

			<thead>
			<tr>
			<th id="playlistPosHead" scope="col">Playlist Position</th>
			<th scope="col">MAC地址</th>
			<!-- <th scope="col">接入时长</th> -->

			</tr>
			</thead>

			<tbody>
			<tr class="odd">
			<td>1</td>
			<td>00:01:6C:06:A6:29 </td>
			

			</tr>

			<tr>
			<td>2</td>
			<td>00:05:5D:E8:0F:A3</td>
			

			</tr>

			<tr class="odd">
			<td>3</td>
			<td>64:B9:E8:F2:GE:12</td>
			

			</tr>

			<tr>
			<td>4</td>
			<td>12:EF:3U:AS:1N:SA</td>
			

			</tr>

			<tr class="odd">
			<td>5</td>
			<td>C3:3G:FO:WI:29:X8</td>
			

			</tr>

			<tr>
			<td>6</td>
			<td>C7:EH:7S:OG:2N:8F</td>
			

			</tr>

			<tr class="odd">
			<td>7</td>
			<td>S5:MB:9B:4F:3L:90</td>
			

			</tr>

			<tr>
			<td>8</td>
			<td>21:3D:F4:A3:23:FR</td>
			

			</tr>
			</tbody>
		</table>
	</div>
	</div>
<div class="clear1"></div>
	<div id="row2">
		   <div id="left">
		    <table cellspacing="0" id="playlistTable" summary="">
			<caption>进行下载的 4 个MAC地址</caption>

			<colgroup>
			<col id="PlaylistCol" />
			<col id="trackCol" />
			<col id="artistCol" />

			</colgroup>

			<thead>
			<tr>
			<th id="playlistPosHead" scope="col">Playlist Position</th>
			<th scope="col">MAC地址</th>
			<!-- <th scope="col">接入时长</th> -->

			</tr>
			</thead>

			<tbody>
			<tr class="odd">
			<td>1</td>
			<td>12-EF-3U-AS-1N-SA</td>
			

			</tr>

			<tr>
			<td>2</td>
			<td>C7-EH-7S-OG-2N-8F</td>
			

			</tr>

			<tr class="odd">
			<td>3</td>
			<td>21-3D-F4-A3-23-FR</td>
			

			</tr>

			<tr>
			<td>4</td>
			<td>9B-6K-PJ-5M-0B-KK</td>
		

			</tr>

			
			</tbody>
		</table>
	</div>

	<div id="tri"></div>

	<div id="mid">
		<div id="top">
			<div class="detail1">
				<p>被下载的APP应用<br />
					<span>3</span>
					（共10个应用）
				</p>
			</div>
			<div class="cent"> 
				<p> 
					<div class="Bars"> 
    					<div style="width: 30%;"> 
        					<span>30%</span> 
    					</div> 
					</div> 
				</p> 
			</div> 
		</div>
		<!-- <div id="bot">
			<p>转化率 50%</p>
		</div> -->
	</div>
	<div id="tri">
		
	</div>
	<div id="right">
		<table cellspacing="0" id="playlistTable" summary="">
			<caption>被下载的 3 个APP</caption>

			<colgroup>
			<col id="PlaylistCol" />
			<col id="trackCol" />
			<col id="artistCol" />

			</colgroup>

			<thead>
			<tr>
			<th id="playlistPosHead" scope="col">Playlist Position</th>
			<th scope="col">APP名称</th>
			<th scope="col">下载人数</th>

			</tr>
			</thead>

			<tbody>
			<tr class="odd">
			<td>1</td>
			<td>迅雷离线加速</td>
			<td>2</td>

			</tr>

			<tr>
			<td>2</td>
			<td>飞机大战</td>
			<td>1</td>

			</tr>

			<tr class="odd">
			<td>3</td>
			<td>优惠卷</td>
			<td>1</td>

			</tr>
			</tbody>
		</table>
	</div>
	</div>

</div>
