<% content_for :template_js do %>
  <%= javascript_include_tag 'bootstrap.min'%>
<% end %>
<div class="about-team">
  <h2>行业应用</h2>
  <hr>
  <br/>

  <ul class="thumbnails">
    <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail label</h3>
      <p>Thumbnail caption...</p>
    </div>
    </li>
  </ul>

  <ul class="thumbnails">
    <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail label</h3>
      <p>Thumbnail caption...</p>
    </div>
    </li>
  </ul>

  <ul class="thumbnails">
    <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail label</h3>
      <p>Thumbnail caption...</p>
    </div>
    </li>
  </ul>

  <ul class="thumbnails">
    <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail label</h3>
      <p>Thumbnail caption...</p>
    </div>
    </li>
  </ul>
</div>
