<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NVD3.js ::  Stacked/Grouped Multi-Bar Chart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Bob Monteverde">



    <link href="nv.d3.css" rel="stylesheet">


    <script src="d3.v3.min.js"></script>
    <script src="nv.d3.js"></script>
    
  </head>

  <body class='with-3d-shadow with-transitions'>
<div id='chart1'>
  <svg style='height:500px'> </svg>
</div>

<script type='text/javascript'>

d3.json("daytrend.json", function(data) {
  	 nv.addGraph(function() {
    var chart =
     nv.models.multiBarChart()
      .transitionDuration(350)
       .x(function(d) { return d[0] })   
       .y(function(d) { return d[1] })  
      .reduceXTicks(false)
      .rotateLabels(0)     
      .showControls(true)  
      .groupSpacing(0.1);

    chart.xAxis
        .tickFormat(d3.format(',f'));

    chart.yAxis
        .tickFormat(d3.format('.f'));

    d3.select('#chart1 svg')
        .datum(data)
        .call(chart);

    nv.utils.windowResize(chart.update);
	
    return chart;
	
})
});




</script>

  </body>
</html>
