<div class="owned-course-section clearfix">
  <div class="user-course-header">
    <% if current_user == @user %>
      <%= link_to create_course_path, :class => "button primary new-course" do %>
        创建广告
        <i class='icon-hand-right icon-large'></i>
      <% end %>
    <% end %>
    <h2>我的广告:</h2>
  </div>
  <% if @courses.present? %>
    <div class="courses">
      <% @courses.each do |course| %>
        <div class="course">
          <%= render "courses/ad", :course => course %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>无任何广告</p>
  <% end %>
</div>
