<% content_for :template_js do %>
  <%= javascript_include_tag 'hierarchical-pie'%> 
  <%= javascript_include_tag 'mustache'%>
  <script>
    jQuery(function($) {
      var holder = $('#pie-demo1');
      holder.empty();

      $.getJSON('/week/data.json', function(data) {
        new HierarchicalPie({
          chartId : '#pie-demo-1',
          data : data,
          legendContainer : '#pie-chart-legend-1',
          navigation      : '#chart-navigator-1'
        });
      });
    });
  </script>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "piestyle" %>
<% end  %>  
<div class="about-content">
  <h2>每周/日消费分析饼图</h2>
  <hr>
  <div class="product3-zone">
  <div class="product-info-left3">
  <br>
  <div class="chart-navigator clearfix" id="chart-navigator-1" >
    <a href="#" class="btn btn-primary" id="btnRoot" title="Go back to root" rel="tooltip">返回</a>
  </div>

  <div id="pie-demo-1" style="width: 400px;" ></div>
  </div>
  <div class="products-info-right3" >
  <div id="pie-chart-legend-1" >
    <table class="table table-condensed table-legend">
      <thead>
        <tr>
          <th></th>
          <th>星期</th>
          <th>连接总人数</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <hr>
    <% content_for :template_js do %>
      <script id="rowTemplate" type="text/template">
        <td class="color-cell">
          <span class="cat-color" style="background: {{color}};"></span>
        </td>
        <td>
          {{#isDirect}}
          <span title="Directly in this category" rel="tooltip"><i class="icon-info"></i></span>
          {{/isDirect}}
          {{category}}
        </td>
        <td class="cost">{{cost}}</td>
      </script>
    <% end %>
  </div>
  </div>
  <h2>三天内各时段访客数据统计</h2>
  <hr/>

</div>
<%= render "trans1"  %>

