<% content_for :template_js do %>
  <%= javascript_include_tag 'hierarchical-pie'%>
<script>
  jQuery(function($) {
    var holder = $('#pie-demo1');
    holder.empty();

    $.getJSON('/week/data.json', function(data) {
      new HierarchicalPie({
        chartId : '#pie-demo-1',
        data : data
      });
    });
  });
</script>
<% end %>
<div class="about-team">
  <h1>每周/日消费分析饼图</h1>
  <hr>
  <div id="pie-demo-1"></div>
</div>
