<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "tinygame" %>
<% end  %>  
<div class='container'>
  <br />
  <hr/>
  <br />
<div class="product1-zone">
  <div class="products-img-left">
          <img src="../../../uploads/poster/gameadv1.png" >
          <br />        
  </div >
  <div class="products-info-right center">
    <div class="product-title">定制您的客户端</div>
    <div class="product-content">
      <p>启动客户端时加入企业广告</p>
      <p>定期推送广告</p>
      <p>结合游戏插入广告</p>
    </div>
  </div>
</div>
<hr>

<div class="product-zone">
  <div class="product-info-left">
    <div class="product-title">游戏积分榜</div>
    <div class="product-content">
      <p>建立商家与客户的互动关系</p>
      <p>打发顾客等位与等菜时间</p>
      <p>打飞机，切水果，游戏简单易操作</p>
    </div>
  </div>
  <div class="products-info-right2">
    <table class="table">
      <thead>
        <tr>
          <th>排名</th>
          <th>姓名</th>
          <th>积分</th>
          <th>获奖日期</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>999999</td>
          <td>2013-12-1</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>888888</td>
          <td>2013-12-12</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>777777</td>
          <td>2013-12-23</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
