.container1{
	margin-left: 50px;
}
.clear1{
	clear: both;
}
#row1,#row2{
	display: block;
	width:95%;
	margin-top: 50px;
	margin-bottom: 50px;

}

#row2{
	padding-top: 70px;
}

/*#left,#right,#mid{
			width:28%;
			height:300px;
			border:1px white solid;
			float:left;

		}*/
#left,#right{
			width:28%;
			height:300px;
			border:1px white solid;
			float:left;

		}
#mid{
	width:20%;
	height:300px;
	border:1px white solid;
	float:left;
}

#top{
		width:100%;
		border:1px black solid;
		margin:0 auto;
		}

#bot{
	width:100%;
	height:265px;
	border:1px white solid;
	margin:0 auto;
		}

#tri{
		width:3%;
		height:250px;
		float:left;
	  margin-left: 20px;
  }

#tri{
	background-image: url(../uploads/poster/tri.png);
	background-repeat: no-repeat;
}

#top p{
	text-align: center;
}
#top p span{
	font-weight: bold;
	font-size: 2em;
	display:block; 
	text-align:center
}

#bot{
     background-image: url(../uploads/poster/arrow1.jpg);
     background-repeat: no-repeat;
     background-position: center top;
}
#bot p{
	display: block;
	width:160px;
	border: 1px solid black;
	text-align: center;
	margin:0 auto;
	margin-top: 60px;
	color:#f00;
}
#bot p span{
	display: block;
	font-weight: strong;
	color: #000;
}








