<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
  <%= stylesheet_link_tag    "portal", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= yield %>
  <%= javascript_include_tag "portal" %>
</body>
</html>
